.reveal {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #93a1a1;
 }

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 36px;
}

.alpha60 {
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0) transparent;
  /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
