.reveal {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #93a1a1;
 }

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 36px;
}

.greyed {
  color: #4e5c5c;
}

h6 {
  color: #4e5c5c;
}